.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

/*
  Custom styles
*/

.gridList {
  padding: 0;
  margin: 0;
}

.gridList li{
  border: solid 1px black;
  width: 10px;
  height: 10px;
  padding: 30px;
  display: inline-block;
  color: transparent;
}

.gridList li.flipped {
  color: black;
}
